<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main class="center-col">
        <div class="about-text center-col">
            <h1 class="about-title">Recipe Finder</h1>
            <h4 class="about-subtitle">
                is a place for foodies and home cooks to find thousands of recipes from across 
                the web all in one place. Use the search bar to look through hundreds of websites 
                and filter by cuisine type, meal type, and more. This project was started by Ashley Mays.
            </h4>
            <a target="_blank" href="https://github.com/ashleymays/recipe-web-app/" title="See Code On Github" class="btn">See Code</a> 
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>