<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main class="center-col">
        <h1 class="error-title"><%- error %><h1>
        <h4 class="error-subtitle">Sorry about the inconvenience.</h4>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>