* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --header-height: 8rem;
    --footer-height: 12rem;
    --aside-width: 32rem;
    --body-background-color: #141414;
    --accent-color: #5B8266;
    --page-margins-width: clamp(2.25rem, 2.25vw, 5rem);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: var(--body-background-color);
    overflow-x: hidden;
}

body > * {
    padding: 0 var(--page-margins-width);
}

main {
    min-height: calc(100vh - var(--footer-height)); /* full page of main section = viewport height - footer height; header is fixed, so don't take it into account */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;;
    font-weight: 500;
    color: #fff;
}

a {
    background: transparent;
    color: inherit;
    text-decoration: none;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"], input[type="file"] {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center-row {
    display: flex;
    align-items: center;
}

.center-col {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.btn {
    font: 500 1.8rem 'Poppins', Arial, Helvetica, sans-serif;;
    background: var(--accent-color);
    border-radius: 0.5rem;
    padding: 0.85rem 5rem;
    box-shadow: 0 0 0.5rem rgb(0,0,0,0.25);
    color: #fff;
}

.btn:hover {
    opacity: 0.75;
}

.btn:active {
    opacity: 0.6;
}






/* ---------- Header ---------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--body-background-color);
    z-index: 6;
}

.header__nav, .header__nav__nav-links {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;;
}

.header__nav {
    justify-content: space-between;
    height: var(--header-height);
}

.header__nav__home-link {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.header__nav__link {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    margin-left: 3rem;
}



/* ---------- Search Bars ---------- */

.search-bar-form {
    font-size: 1.75rem;
    background: var(--body-background-color);
    border: 0.25rem solid #282828;
    border-radius: 50rem;
}

.search-bar-form:focus-within, .search-bar-form:hover {
    background: #282828;
}

.home__search-bar-form, .recipes-container__search-bar-form, .header__search-bar-form {
    padding: 0.275em 1em;
}

.menu-aside__search-bar-form {
    margin: 1rem 0 4rem;
    padding: 0.4em 1em;
    font-size: 1.4rem !important;
}

.home__search-bar-form {
    width: min(52rem, 90%);
}

.recipes-container__search-bar-form {
    width: 85%;
    display: none;
}

.header__search-bar-form {
    width: 80%;
}

.home__search-bar__input, .recipes-container__search-bar__input, .header__search-bar__input {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;;
    font-size: inherit;
    background: inherit;
    color: #fff;
    width: 100%;
    height: 100%;
    border: transparent;
}

.search-bar__btn {
    background: inherit;
    border: transparent;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.search-bar__btn .material-icons-outlined {
    font-size: 1.35em !important;
    color: #5F5F5F;
    transition-duration: 0.2s;
}

.search-bar__btn .material-icons-outlined:hover {
    color: #fff;
}




/* ---------- Asides and Dropdowns ---------- */

.aside {
    transition-duration: 0.5s;
    display: flex;
    flex-flow: column;
    background: var(--body-background-color);
    width: var(--aside-width);
    position: fixed;
    overflow-y: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: calc(100% - var(--header-height));
    padding: 0 var(--page-margins-width);
}

.aside::-webkit-scrollbar {
    display: none;
}

.aside-open-btn, .aside-close-btn {
    display: none;
}

.aside-item {
    display: flex;
    align-items: center;
    padding: 1.75rem 0;
}

.aside-item__icon {
    border: none;
    background: transparent;
    color: #fff;
}

.aside-item .material-icons-outlined {
    font-size: 1.75em;
}

.aside-item__title {
    font: 500 1.8rem 'Poppins';
    color: #fff;
    text-indent: 0.5em;
    margin: 0.25rem 0;
    padding: 0;
    cursor: pointer;
}

.dropdown-container {
    cursor: pointer;
}

.dropdown-list, .aside-item__icon .material-icons-outlined {
    transition-duration: 0.35s;
}

.dropdown-list {
    display: flex;
    flex-flow: column nowrap;
    height: 0;
    overflow-y: auto;
    width: 100%;
    background: var(--body-background-color);
    margin: 0;
}





/* ---------- Home Page ---------- */

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: calc(95vh - var(--header-height) - var(--footer-height));
    padding: 3vh 6vw 0;
}

.home__background-img {
    width: 37.5%;
    opacity: 0.75;
    padding: 9vh 0 0;
    z-index: 5;
}

.home__text-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 4vh;
}

.home-title {
    font-size: 5.5rem;
    line-height: 1.25em;
    margin-bottom: 3.5rem;
}





/* ---------- About Page ---------- */

.about-text {
    width: min(70rem, 90%);
}

.about-title {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}

.about-subtitle {
    font: 400 1.8rem 'Poppins', Arial, Helvetica, sans-serif;;
    color: #959595;
    text-align: center;
    line-height: 1.75em;
}






/* ---------- Recipes Page ---------- */

.bookmarked-recipe-container__header {
    justify-content: space-between;
    width: 100%;
}

.recipes-main-content {
    display: flex;
    flex-flow: column;
    width: calc(100% - var(--aside-width));
    min-height: calc(100vh - var(--header-height));
    padding: 0 var(--page-margins-width);
    position: absolute;
    top: var(--header-height);
    left: var(--aside-width);
    background: #1A1A1A;
    justify-content: space-between;
}

.recipes-container__title {
    font-size: 2.25rem;
    margin: 3.5rem 0;
}

.recipes-container__header {
    display: none;
}

.recipes-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20.5rem, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
    width: 100%;
    min-height: 100%;
    padding-bottom: 7.5rem;
}

.recipe {
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column;
    background: #202020;
    padding: 8.5%;
    align-items: center;
    transition-duration: 0.125s;
    width: 100%;
    box-shadow: 0 0.1rem 0.75rem rgb(0,0,0,0.1);
    text-decoration: none;
    position: relative;
}

.recipe:hover, .recipe:hover .material-icons-outlined { /* change color of recipe background and bookmark background */
    background: #282828;
}

.recipe__img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem rgb(0,0,0,0.25);
}

.recipe__link {
    cursor: pointer;
}

.recipe__title {
    font-size: 200%;
    line-height: 1.25em;
    margin: 10% 0 3.75%;
    text-align: center;
    text-transform: capitalize;
}

.recipe__subtitle {
    color: #959595;
    font-size: clamp(1.6rem, 0.9vw, 2.75rem);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.recipe__bookmark {
    position: relative;
    top: 0;
    right: 0;
    border: transparent;
    background: transparent;
    outline: none;
    aspect-ratio: 1 / 1;
    align-self: flex-end;
    font-size: 100%;
    margin: 2% 2% 0 0;
}

.recipe__bookmark .material-icons-outlined {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    background: #202020;
    font-size: 300%; /* adjust bookmark icon size depending on the size of the container */
    border-radius: 0.175em;
    padding: 0.175em;
}

.bookmarked-recipe-title {
    font-size: 3.25rem;
    margin: 5rem 0 0;
    line-height: 0;
    padding: 0;
}

#filters {
    display: flex;
    flex-flow: column;
}

.filters__dropdown-item {
    display: flex;
    align-items: center;
    padding: 1.25rem 0 1.25rem 1.5rem;
    cursor: pointer;
}

.filters__dropdown-item:hover {
    background: #282828;
}

.filters__dropdown-item__text {
    font: 400 1.8rem 'Poppins', Arial, Helvetica, sans-serif;;
    color: #fff;
    margin-left: 0.5em;
}

.custom-checkbox,
.custom-radio {
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background: transparent;
    border: 0.2rem solid #fff;
    margin-right: 1.25em;
    position: relative;
}

.custom-checkbox {
    border-radius: 0.2rem;
}

.custom-radio {
    border-radius: 50%;
}

input[type="checkbox"]:checked + .custom-checkbox,
input[type="radio"]:checked + .custom-radio {
    background: #fff;
}

.recipes-container__filler {
    font-size: 2.25rem;
    margin: 3.5rem 0 0.75rem;
}

#filters__submit-btn {
    border: transparent;
    margin: 2rem 0;
}

#load-more-btn {
    border: none;
    align-self: center;
}

#loading-text {
    display: none;
    font-size: 1.8rem;
    align-self: center;
    margin: 0;
    padding: 0.85rem 5rem;
}





/* ---------- Selected Recipe ---------- */

.selected-recipe-desktop-ver {
    padding: calc(var(--header-height) + 2rem) var(--page-margins-width) 0;
}

.selected-recipe__subtitle {
    font-size: 2.1rem;
    margin: 4rem 0 1rem;
    padding: 0;
}

.selected-recipe__source {
    position: relative;
}

.selected-recipe__source::before, .selected-recipe__source:hover::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--accent-color);
    opacity: 0.6;
    transition-duration: 0.2s;
    width: 100%;
    z-index: -1;
}

.selected-recipe__source::before {
    height: 0.2em;
}

.selected-recipe__source:hover::before {
    height: 1.4em;
}

.selected-recipe-header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.selected-recipe__title {
    font-size: 5rem;
    text-transform: capitalize;
    text-align: center;
    width: min(80rem, 100%);
    margin: 0 0 2rem;
    padding: 0;
}

.selected-recipe__facts-container {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 6rem;
}

.selected-recipe__fact {
    margin: 0 5vw;
    text-align: center;
}

.selected-recipe__fact__logo {
    content: "";
    display: block;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: var(--accent-color);
    position: relative;
}

.selected-recipe__fact__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
}

.selected-recipe__fact__title {
    text-transform: capitalize;
    font-size: 2.1rem;
    padding: 0;
    margin: 2rem 0 1rem;
}

.selected-recipe__fact__subtitle {
    text-transform: capitalize;
    font-size: 1.8rem;
    color: #959595;
    padding: 0;
    margin: 0;
}

.labels-container {
    width: 100%;
}

.label {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.label-grid_1, .label-grid_2, .label-grid_3 {
    display: grid;
    width: 90%;
}

.label-grid_2, .label-grid_3 {
    text-align: center;
}

.label-grid_1 {
    grid-template-columns: repeat(auto-fill, minmax(41rem, 1fr));
}

.label-grid_2 {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.label-grid_3 {
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100%));
}

.label__title {
    margin-top: 9rem;
    font-size: 3.5rem;
}

.label__grid-item {
    list-style-type: disc;
    margin: 0.75rem 0;
    font: 400 1.8rem 'Poppins', Arial, Helvetica, sans-serif;;
}

.ingredient {
    align-items: center;
    margin: 0.5rem 0;
    padding: 0 5%;
}

.ingredient__img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

.attribution-container {
    margin-top: 10rem;
}

.attribution {
    color: #959595;
    font: 400 1.6rem 'Poppins', Arial, Helvetica, sans-serif;;
}

.selected-recipe-mobile-ver {
    display: none;
}

.selected-recipe__img {
    border-radius: 0.5rem;
    width: 100%;
}

.label__dropdown-item {
    font: 400 2rem 'Poppins', Arial, Helvetica, sans-serif;;
    color: #fff;
    margin: 1rem 0;
}




/* ---------- Error Page ---------- */

.error-title {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.error-subtitle {
    font: 400 2.75rem 'Poppins', Arial, Helvetica, sans-serif;;
    margin: 0;
    padding: 0;
}


/* ---------- Footer ---------- */

footer {
    font: 400 1.6rem 'Poppins', Arial, Helvetica, sans-serif;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--footer-height);
    color: #959595;
    width: 100%;
    background: transparent;
}

.footer__link {
    color: #959595;
    margin-left: 2rem;
    text-decoration: none;
}




/* ---------- Login Auth Pages ---------- */

.auth-heading {
    font-size: 3.5rem;
    margin: 2rem 0;
}

.auth-text {
    font: 400 1.8rem 'Poppins', Arial, Helvetica, sans-serif;
    align-self: flex-start;
    color: #fff;
}

.auth-form, .auth-text {
    width: 40rem;
}

.auth-form {
    margin-top: 10rem;
}

.auth-form__label {
    color: #fff;
    font: 400 1.6rem 'Poppins', Arial, Helvetica, sans-serif;;
    align-self: flex-start;
}

.auth-form__input {
    background: var(--body-background-color);
    border: 0.25rem solid #282828;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.85rem;
    width: 100%;
    margin: 0.5rem 0 2rem;
    color: #fff;
    font: 400 1.8rem 'Poppins', Arial, Helvetica, sans-serif;;
}

.auth-form__input:hover, .auth-form__input:focus {
    background: #282828;
}

.auth-form__btn {
    outline: transparent;
    border: transparent;
    width: 100% !important;
    margin: 0.5vh 0;
}

.auth-form__name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__name-container div:first-child {
    margin-right: 0.5rem;
}

.auth-form__name-container div:last-child {
    margin-left: 0.5rem;
}

.auth-link-container {
    margin-top: 1.5rem;
}

.auth-link {
    color: #fff;
    font: 400 1.6rem 'Poppins', Arial, Helvetica, sans-serif;;
    margin: 0.75rem 0;
}

.auth-message {
    font: 400 1.6rem 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--accent-color);
}



/* ---------- User Account Profile ---------- */

.avatar-container, .avatar-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.avatar-container {
    display: block;
    width: 70%;
    margin-bottom: 1rem;
}

.avatar-wrapper {
    overflow: hidden;
}

#avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.avatar-input-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.5em;
    background: #282828;
    border-radius: 0.2em;
    font-size: 250%;
    cursor: pointer;
    padding: 0.15em 0.65em 0.2em;
    z-index: 4;
}

.avatar-input-container .material-icons-outlined {
    font-size: 0.85em;
    color: #fff;
}

.profile-info__title {
    font-size: 2.25rem;
    margin: 2vh 0 0;
}

.profile-info__subtitle {
    font-size: 1.6rem;
    color: #959595;
    margin: 0.5vh 0 5vh;
}

.aside-btn {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.8);
    z-index: 5;
}

.popup-form {
    background: var(--body-background-color);
    z-index: 6;
    padding: 0 3rem 3rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 2rem rgb(0,0,0,0.5);
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
}

.close-popup-btn {
    display: block;
    font-size: 2rem;
    align-self: flex-end;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    padding-top: 3rem;
}

.hidden {
    display: none;
}




/* ---------- Media Queries ---------- */

@media screen and (max-width: 600px) {    
    .selected-recipe-desktop-ver {
        display: none;
    }

    .selected-recipe-mobile-ver {
        display: flex;
        flex-flow: column;
        padding: calc(var(--header-height) + 2rem) var(--page-margins-width) 0;
    }

    .selected-recipe-header {
        align-items: flex-start;
        margin: 2rem 0;
    }

    .selected-recipe__title {
        text-align: left;
        margin: 3rem 0 0;
    }

    .selected-recipe__facts-container {
        align-items: flex-start;
        margin: 2rem 0;
        width: 100%;
    }
    
    .selected-recipe__fact {
        margin: 0 2.5rem 0 0;
    }

    .selected-recipe__fact__logo {
        width: 10rem;
        height: 10rem;
    }

    .attribution-container {
        margin-top: 4rem;
        align-items: flex-start;
    }

    .attribution {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --header-height: 8rem;
    }

    html {
        font-size: 8.25px;
    }

    .header__search-bar-form {
        display: none;
    }

    .home-container {
        height: auto;
        margin-top: var(--header-height);
    }

    .home-title {
        font-size: 4rem;
        width: 90%;
    }

    .aside {
        width: 100%;
        left: -100%;
    }

    .aside-open-btn {
        background: transparent;
        border: transparent;
        display: block;
    }

    .aside-close-btn {
        display: block;
        align-self: flex-end;
        border: none;
        background: transparent;
        padding: 0;
    }
    
    .aside-close-btn .material-icons-outlined, .aside-open-btn .material-icons-outlined {
        font-size: 3.25rem;
        color: #fff;
    }

    .aside-item__title {
        font-size: 2.1rem;
    }

    .filters__dropdown-item__text {
        font-size: 2rem;
    }

    .recipes-main-content {
        margin: 0;
        width: 100%;
        left: 0;
        background: var(--body-background-color);
    }

    .recipe__title {
        font-size: max(3vw, 2.35rem);
    }

    .recipe__subtitle {
        font-size: max(2.25vw, 1.75rem);
    }
    

    .recipes-container__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
        width: 100%;
    }

    .recipes-container__search-bar-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .recipe:hover {
        background: #202020;
    }

    .recipe__bookmark {
        margin: 5% 5% 0 0;
    }

    .recipe__bookmark .material-icons-outlined {
        font-size: 400%; /* adjust bookmark icon size depending on the size of the container */
    }

    .avatar-container {
        width: 60%;
    }

    .profile-info__title {
        font-size: 3rem;
    }

    .profile-info__subtitle {
        font-size: 2.25rem;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
    .home-container {
        flex-flow: column;
        justify-content: flex-start;
        padding: 0;
    }

    .home__background-img {
        width: min(35rem, 60%);
        height: min(35rem, 60%);
        margin-top: 10vh;
        padding: 0;
    }

    .home__text-container {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 4vh 0 0;
    }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {    
    .home__background-img {
        display: none;
    }
    
    .home__text-container {
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .home-title {
        font-size: 4rem;
    }
}