<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="description" content="Find and save recipes from all across the web." />
<title>Recipe Finder</title>
<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/319/cooked-rice_1f35a.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link defer rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
<link defer rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<link defer rel="stylesheet" type="text/css" href="/public/css/style.min.css" />
<script defer type="text/javascript" src="/public/js/script.min.js"></script>