<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main class="center-col">
        <form class="auth-form center-col" action="/user/forgot-password" method="POST">
            <h1 class="auth-heading">Forgot Password</h1>
            <p class="auth-text">
                Enter the email you signed up with to reset your password. If there is an account associated with that email, we’ll send you a link to reset it.
            </p>
            <label class="auth-form__label" for="email">Email address</label>
            <input class="auth-form__input" type="email" name="email" id="email" required />
            <button type="submit" class="auth-form__btn btn">Send Email</button>
        </form>
        <div class="auth-link-container center-col">
            <a class="auth-link" href="/user/login">Back to Login</a>
        </div>
        <% if (message) { %>
            <h5 class="auth-message"><%- message %></h5>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>