<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main class="center-col">
        <form class="auth-form center-col" action="/user/login" method="POST">
            <h1 class="auth-heading">Login</h1>
            <label class="auth-form__label" for="email">Email address</label>
            <input class="auth-form__input" type="email" name="email" id="email" required />
            <label class="auth-form__label" for="password">Password</label>
            <input class="auth-form__input" type="password" name="password" id="password" required />
            <button type="submit" class="auth-form__btn btn">Login</button>
        </form>
        <div class="auth-link-container center-col">
            <a class="auth-link" href="/user/signup">Don’t have an account? Sign up</a>
            <a class="auth-link" href="/user/forgot-password">Forgot Password?</a>
        </div>
        <% if (messages.error) { %>
            <h5 class="auth-message"><%- messages.error %></h5>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>