<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main class="center-col">
        <form class="auth-form center-col" method="POST">
            <h1 class="auth-heading">Reset Password</h1>
            <label class="auth-form__label" for="new-password">New password</label>
            <input class="auth-form__input" type="password" name="newPass" id="new-password" minlength="8" required />
            <label class="auth-form__label" for="confirm-password">Confirm password</label>
            <input class="auth-form__input" type="password" name="confirmPass" id="confirm-password" minlength="8" required />
            <button type="submit" class="auth-form__btn btn">Reset Password</button>
        </form>
        <div class="auth-link-container center-col">
            <a class="auth-link" href="/user/login">Back to Login</a>
        </div>
        <% if (message) { %>
            <h5 class="auth-message"><%- message %></h5>
        <% } %>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>